.App {
  text-align: center;
  margin-top: 30px;
  margin-left: 350px;
  margin-right: 350px;
  border: 2px solid black
}
.header{
  background-color: rgb(17, 0, 255);
  
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

tr,td{
  border:1px solid black;
  border-collapse: collapse;
  margin: 2px;
  width: 100px;
  
}

.active{
  background: green
}

.inactive{
  background: red;
}